/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');
/* font-family: 'Inter', sans-serif; */

/* Resets */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

/* Variables */
:root {
    --clr-primary-1: hsl(35, 77%, 62%); /* Soft orange */
    --clr-primary-2: hsl(5, 85%, 63%);  /* Soft red */
    --clr-off-whie: hsl(36, 100%, 99%);  /* Off-white */
    --clr-off-whie-light: hsla(36, 100%, 99%, 0.5);  /* Off-white */
    --clr-gray-blue: hsl(233, 8%, 79%);  /* Grayish blue */
    --clr-dark-gray: hsl(236, 13%, 42%);  /* Dark grayish blue */
    --clr-dark-blue: hsl(240, 100%, 5%);  /* Very dark blue */
}

/* Header */
.header {
    /* margin: 0.8rem; */
    display: flex;
    align-items: center;
}


.header-logo {
    width: 4rem;
}


.hamburger {
    position: absolute;
    z-index: 100;
    top: 1.5rem;
    right: 1rem;
    padding: 4px;
    border: none;
    background: white;
    cursor: pointer;
}

.closed {
    display: none;
}

.menu-open {
    position: fixed;
    transition: transform 0.2s;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: var(--clr-off-whie);
    color: white;
    list-style: none;
    padding-top: 4rem;
    width: 70%;
}

/* .showMenu {
    transform: translateX(0);
} */


/* ===== Main ===== */
.container {
    margin: 0.8rem;
    display: grid;
    gap: 2rem;
}
/* First */
.container__box-first {
    display: grid;
    gap: 0.8rem;
}

.container__box-first-content {
    display: grid;
    gap: 1rem;
}

#main-image img {
    width: 100%;
    height: 100%;
}

.image-desktop {
    display: none;
}

.container__box-first h1 {
    font-weight: 800;
}

.container__box-first p {
    line-height: 150%;
    color: var(--clr-dark-gray);
    margin-bottom: 1rem;
}

.btn {
    width: 60%;
    background: var(--clr-primary-2);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--clr-off-whie);
    font-weight: 800;
    letter-spacing: 0.2rem;
    padding: 0.9rem;
    cursor: pointer;
}

.btn:hover {
    background: var(--clr-dark-blue);
}

/* Second */
.container__box-second {
    background: var(--clr-dark-blue);
    color: var(--clr-off-whie);
    padding: 1rem;
    display: grid;
    gap: 0.8rem;
}

.container__box-second-item {
    display: grid;
    gap: 0.5rem;
}

.container__box-second-item:nth-of-type(1),
.container__box-second-item:nth-of-type(2) {
    border-bottom: 1px solid var(--clr-off-whie-light);
    padding-bottom: 1.5rem;
}

.container__box-second h2 {
    color: var(--clr-primary-1);
}

.container__box-second p {
    color: var(--clr-off-whie-light);
    line-height: 150%;
}

/* Third */
.container__box-third {
    display: grid;
    gap: 2rem;
}

.container__box-third-grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-column-gap: 1rem;
    grid-row-gap: 0rem;
}

.third-box-item-1 img {
    width: 100%;
}

.third-box-item-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.third-box-item-2 h2 {
    color: var(--clr-dark-gray);
    opacity: 0.7;
}

.third-box-item-2 a {
    color: black;
    text-decoration: none;
}

.third-box-item-2 a:hover {
    color: var(--clr-primary-2);
}


.third-box-item-2 p {
    color: var(--clr-dark-gray);
    line-height: 150%;
}


.attribution { font-size: 0.73rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


/* Ready for Desktop below */
@media screen and (min-width: 1000px) {
    .container {
        padding: 0rem 8rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2rem;
        grid-row-gap: 1.5rem;
    }

    /* Header */
    .header {
        grid-area: 1 / 1 / 2 / 4;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .header-logo {
        max-width: 8rem;
        margin-left: 1rem;
    }

    .hamburger {
        display: none;
    }

    .menu {
        margin-right: 1.5rem;
        display: flex;
        flex-direction: row;
        gap: 1.5rem;
        align-items: center;
    }

    .menu a {
        text-decoration: none;
        color: var(--clr-dark-gray);
        font-size: 1.125rem;
    }

    .menu a:hover {
        color: var(--clr-primary-2);
    }

    .menu li {
        list-style: none;
    }


    /* First */
    .container__box-first {
        grid-area: 2 / 1 / 5 / 3;

    }

    .image-mobile {
        display: none;
    }

    .image-desktop {
        display: block;
    }

    .container__box-first-content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 2rem;
        grid-row-gap: 0rem;
    }

    .box-first-title h1 {
        font-size: 3rem;
    }

    .box-first-content {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .container__box-first p {
        margin-bottom: 0rem;
    }

    /* Second */
    .container__box-second {
        grid-area: 2 / 3 / 5 / 4;
    }
    /* Third */
    .container__box-third {
        grid-area: 5 / 1 / 6 / 4;
        display: flex;
    }
}

/*
- Mobile: 375px
- Desktop: 1440px
*/
